body{
    background-color: #ffffff;
}

/* .title {
    margin-top: 120px;
    font-size: 100px;
    padding: 20px;
    color: #3d3d3d;
}

#about {
    font-size: 40px;
    width: 60%;
    padding: 20px;
    color: #3d3d3d;
}

.btn-default {
    border: 2px solid #9acc9a;
    border-radius: 8px;
    padding: 14px 28px;
    font-size: 16px;
    color: #9acc9a;
    cursor: pointer;
    background: none;
    color: #9acc9a;
    outline: none;
  } */

  #login-container {
    background-image: url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    height: 93vh;
    width: 100vw;
    position: absolute;
    left: 0;
    opacity: 90%;
}

  .btn-default:hover {
    background: #9acc9a60;
    color: #3d3d3d;
  }

  .btn-default:focus {
      outline:0;
    }

.title {
    margin-top: 100px;
    margin-left: 100px;
    font-size: 100px;
    padding: 20px;
    color: #ffffff;
}

#about {
    font-size: 40px;
    margin-left: 100px;
    width: 60%;
    margin-top: -20px;
    padding: 20px;
    color: #ffffff;
}

.btn-default {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    background-color: white;
    margin-left: 100px;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(240, 239, 239, 0.322);
    color: #ffffff;
  }

  .btn-default:hover {
    background: #e0e0e060;
  }