.player-thumbnail-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* grid-template-rows: 2fr; */
}

.player-thumbnail-photo {
    display: block;
    width: 3em;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.player-thumbnail-name {
    grid-column: 2 / 4;
}

.notes {
    /* grid-row: 2; */
    grid-column: 2 / 4;
    /* padding: 20px; */
}
