.player-thumbnail-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.player-thumbnail-photo {
    display: block;
    width: 3em;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    cursor: grab;
}

.player-thumbnail-name {
    grid-column: 1 / 4;
    font-size: 22px;
    margin-top: 20px;
}

.player-thumbnail-notes {
    margin-top: -25px;
    grid-column: 1 / 4;
    font-size: 14px;
}

.delete-btn {
    grid-row: 4 ;
    grid-column: 1 / 4;
    border: 2px solid #d32e2e;
    border-radius: 8px;
    /* background-color: rgb(175, 110, 110); */
    padding: 6px 12px;
    font-size: 14px;
    color: #d32e2e;
    cursor: pointer;
    background: none;
    color: #d32e2e;
    outline: none;
  }

.delete-btn:hover {
    background: #d1353560;
    color: #3d3d3d;
    outline: none;
  }
.notes {
    /* grid-row: 2; */
    grid-column: 1 / 4;
    /* padding: 20px; */
}
