#reports-container {
    background-image: url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    height: 93vh;
    width: 100vw;
    position: absolute;
    left: 0;
    opacity: 90%;
}

.card-card-body-mt-4-mb-4 {
    border: solid #9acc9a 1px;
    padding: 20px;
    margin-top: 25px;
    border-radius: 8px;
}

.submit-btn-r {
        border: 2px solid #9acc9a;
        border-radius: 8px;
        /* background-color: rgb(175, 110, 110); */
        padding: 6px 12px;
        margin-left: 10px;
        font-size: 12px;
        color: #9acc9a;
        cursor: pointer;
        background: none;
        outline: none;
      }
    
.submit-btn-r:hover {
        background: #9acc9a60;
        color: #3d3d3d;
    }

    .delete-btn {
        border: 2px solid #d32e2e;
        border-radius: 8px;
        /* background-color: rgb(175, 110, 110); */
        padding: 6px 12px;
        font-size: 14px;
        color: #d32e2e;
        cursor: pointer;
        background: none;
        outline: none;
      }
    
    .delete-btn:hover {
        background: #d1353560;
        color: #3d3d3d;
        outline: none;
      }

      .email-btn {
        border: 2px solid #4a8dda;
        border-radius: 8px;
        /* background-color: rgb(175, 110, 110); */
        padding: 6px 12px;
        margin-top: 10px;
        font-size: 14px;
        color: #4a8dda;
        cursor: pointer;
        background: none;
        outline: none;
        text-decoration: none;
      }
    
    .email-btn:hover {
        background: #35a5d160;
        color: #3d3d3d;
        outline: none;
      }

.nav-link {
    color: #9acc9a;
}

tr:nth-child(even) {
    background-color: #9acc9a6c;
  }

#reports-title {
    margin-top: 25px;
    font-size: 50px;
}